[submodule "Pengu Loader/plugins/ROSE-UI"]
	path = Pengu Loader/plugins/ROSE-UI
	url = https://github.com/Alban1911/ROSE-UI
[submodule "Pengu Loader/plugins/ROSE-SkinMonitor"]
	path = Pengu Loader/plugins/ROSE-SkinMonitor
	url = https://github.com/Alban1911/ROSE-SkinMonitor
[submodule "Pengu Loader/plugins/ROSE-ChromaWheel"]
	path = Pengu Loader/plugins/ROSE-ChromaWheel
	url = https://github.com/Alban1911/ROSE-ChromaWheel
[submodule "Pengu Loader/plugins/ROSE-HistoricMode"]
	path = Pengu Loader/plugins/ROSE-HistoricMode
	url = https://github.com/FlorentTariolle/ROSE-HistoricMode
[submodule "Pengu Loader/plugins/ROSE-RandomSkin"]
	path = Pengu Loader/plugins/ROSE-RandomSkin
	url = https://github.com/FlorentTariolle/ROSE-RandomSkin
[submodule "Pengu Loader/plugins/ROSE-SettingsPanel"]
	path = Pengu Loader/plugins/ROSE-SettingsPanel
	url = https://github.com/FlorentTariolle/ROSE-SettingsPanel
[submodule "Pengu Loader/plugins/ROSE-FormsWheel"]
	path = Pengu Loader/plugins/ROSE-FormsWheel
	url = https://github.com/Alban1911/ROSE-FormsWheel
[submodule "Pengu Loader/plugins/ROSE-CustomWheel"]
	path = Pengu Loader/plugins/ROSE-CustomWheel
	url = https://github.com/Alban1911/ROSE-CustomWheel
[submodule "Pengu Loader/plugins/ROSE-Jade"]
	path = Pengu Loader/plugins/ROSE-Jade
	url = https://github.com/FlorentTariolle/ROSE-Jade.git
